.info {
  position: absolute;
  top: 56px;
  z-index: 10;

  &:after {
    background: var(--dark);
    border-radius: 8px;
    color: var(--white);
    content: '⌘ + k';
    font-size: 14px;
    left: 0;
    opacity: 0;
    padding: 2px 10px;
    pointer-events: none;
    position: absolute;
    top: -36px;
    transition: 0.2s;
    transition-delay: 0s;
    width: max-content;
  }

  &:hover:after {
    opacity: 1;
    transition-delay: 0.4s;
  }

  &:hover {
    color: var(--dark);
  }

  &[populate='true'] {
    color: var(--dark);
  }

  &[populate='false'] {
    &:hover {
      color: var(--dark);
    }
  }
}

.overlay {
  align-items: center;
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.05);
  display: none;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 3;

  &[populate='true'] {
    animation: openOverlay 0.1s ease forwards;
    display: block;
  }

  &[populate='false'] {
    animation: closeOverlay 0.25s ease forwards;
    display: block;
  }
}

@keyframes openOverlay {
  to {
    opacity: 1;
  }
}

@keyframes closeOverlay {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.menu {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  box-shadow: 0px 6px 20px -6px rgba(0, 2, 62, 0.15);
  display: none;
  max-height: 400px;
  opacity: 0;
  overflow: scroll;
  // padding: 16px 24px 24px 24px;
  position: absolute;
  transform: scale(0.98);
  width: 640px;
  z-index: 10;

  &[populate='true'] {
    animation: openMenu 0.1s ease forwards;
    display: block;
  }

  &[populate='false'] {
    animation: closeMenu 0.5s ease forwards;
    display: block;
  }
}

@keyframes openMenu {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes closeMenu {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.98);
    visibility: hidden;
  }
}

// menu group

.folder {
  color: var(--med);
  margin-bottom: 16px;
  width: 100%;

  p.tiny {
    font-size: 14px;
    line-height: 20px;
    padding: 0 24px;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.divider {
  border: 1px dashed var(--med-lite);
  margin: 6px 0px 0px 0px;
}

// menu entry

.entry {
  align-items: center;
  color: var(--dark);
  display: flex;
  justify-content: space-between;
  outline: none;
  padding: 8px 24px;
  transition: 0.2s;

  p {
    pointer-events: none;

    &.tag {
      &::after {
        background: #c4c3ff;
        border-radius: 4px;
        color: #49002c;
        content: 'new';
        font-size: 14px;
        line-height: 16px;
        margin-left: 12px;
        padding: 4px 12px;
        text-transform: uppercase;
      }
    }
  }

  &:hover,
  &:focus,
  &:focus-visible {
    background: rgba(0, 0, 0, 0.05);
    color: var(--blue);
  }
}

@media (max-width: 650px) {
  .menu {
    width: 90vw;
  }
}
