:root {
  --dark: #0d0e2c;
  --med: #5f606c;
  --med-lite: #e3e3e3;
  --lite: #f1f1f1;
  --blue: #1820ff;
  --white: #ffffff;
}

*,
html,
body {
  box-sizing: border-box;
  font-family: 'Apfel Grotezk', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url('/images/fpo-bg.jpg');
  background-size: cover;
  overflow: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

::selection {
  color: var(--tertiary);
}

@font-face {
  font-display: swap;
  font-family: 'Apfel Grotezk';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ApfelGrotezk-Regular.woff2');
}

h1 {
  color: inherit;
  font-size: 72px;
  font-weight: 400;
  letter-spacing: -2%;
  line-height: 72px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

h2 {
  color: inherit;
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 88px;
  text-transform: uppercase;
}

h3 {
  color: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
}

p {
  color: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none outside none;
}

button {
  border: none;
  background: var(--dark);
  color: var(--lite);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 16px 24px;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(12, 250px);
  grid-template-rows: repeat(12, 250px);
  grid-template-areas:
    '. . . . . . . . . . . .'
    '. . . . a1 a1 . . . . . .'
    '. . . . . . . . . . . .'
    '. . . . . . . a2 . . . .'
    '. . . . . . . . . . . .'
    '. . . . t t t t . . . .'
    '. . . . t t t t . . . .'
    '. . . . . . . . . . . .'
    '. . . . . . . . . . . .'
    '. a3 a3 . . . . . . . . .'
    '. a3 a3 . . . . a4 a4 a4 . .'
    '. . . . . . . a4 a4 a4 . .';
  padding: 200px;
  touch-action: none;
  user-select: none;

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}

.map {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 24px;
  bottom: 40px;
  box-shadow: 0px 6px 20px -6px rgba(0, 2, 62, 0.08);
  height: 100px;
  pointer-events: none;
  position: absolute;
  width: 100px;
  z-index: 10;
}

.position {
  background: var(--dark);
  border-radius: 100%;
  height: 16px;
  left: calc(50% - 8px);
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 8px);
  width: 16px;
}

.card-container {
  color: var(--dark);
  cursor: pointer;
  filter: drop-shadow(0px 8px 8px rgba(0, 2, 55, 0.08));
  height: 100%;
  position: relative;
  width: 100%;
  transition: all 0.2s ease;

  &:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 2, 55, 0.06));

    video {
      transform: scale(1.1);
    }

    .arrow-container {
      .one {
        transform: translate(20px, -20px);
      }
      .two {
        transform: translate(0px, 0px);
      }
    }

    .card-content {
      color: var(--blue);
    }

    .card-img {
      background-size: 120% !important;
    }

    h3 {
      letter-spacing: 1px;
    }
  }

  &:active .card-img {
    background-size: 140% !important;
  }
  &:active video {
    transform: scale(1);
  }
}

.even {
  transform: rotate(-5deg);

  &:hover {
    transform: scale(0.95) rotate(-9deg);
  }

  &:active {
    transform: scale(0.92) rotate(-12deg);
  }
}

.odd {
  transform: rotate(3deg);

  &:hover {
    transform: scale(0.95) rotate(7deg);
  }

  &:active {
    transform: scale(0.92) rotate(10deg);
  }
}

.card-img {
  height: 80%;
  overflow: hidden;
  position: relative;
  transition: 0.2s ease;

  video {
    transition: 0.2s ease;
    transform: scale(1.3);
    width: 120%;
    pointer-events: none;
  }

  &:after {
    background: url('/images/paper.jpg');
    background-size: cover;
    content: '';
    filter: brightness(20%);
    height: 100%;
    pointer-events: none;
    position: absolute;
    left: 0;
    mix-blend-mode: difference;
    top: 0;
    width: 100%;
  }
}
// .card-img {
//   height: 80%;
//   overflow: hidden;
//   position: relative;
//   transition: 0.2s ease;
//   background-size: 100% !important;
//   background-repeat: no-repeat !important;
//   background-position: center !important;

//   &:after {
//     background: url('/images/paper.jpg');
//     background-size: cover;
//     content: '';
//     filter: brightness(15%);
//     height: 100%;
//     pointer-events: none;
//     position: absolute;
//     left: 0;
//     mix-blend-mode: difference;
//     top: 0;
//     width: 100%;
//   }
// }

.card-content {
  align-items: center;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 0px 24px;
  position: relative;

  h3 {
    transition: 0.2s ease;
  }

  &:after {
    background: url('/images/rip.svg') top center;
    bottom: -39px;
    content: '';
    height: 40px;
    position: absolute;
    left: 0;
    width: 100%;
  }
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;

  .arrow {
    position: absolute;
    transition: 0.2s ease;

    // &.one {
    // }

    &.two {
      transform: translate(-20px, 20px);
    }
  }
}

.title {
  grid-area: t;
  margin: auto auto;
  max-width: 1013px;

  h1 {
    text-align: center;
  }

  .social-container {
    display: flex;
    margin: 0 auto;
    padding-top: 12px;
    width: max-content;

    a {
      color: var(--med);
      transition: 0.2s;

      &:hover {
        color: var(--dark);
      }
    }

    h3 {
      // color: var(--med);
      margin: 0 4px;
    }

    .divider {
      color: var(--med);
      opacity: 0.5;
    }
  }

  .splt {
    color: var(--dark);

    #c1,
    #c2,
    #c3,
    #c4,
    #c5,
    #c6,
    #c7,
    #c8,
    #c9,
    #c10,
    #c11,
    #c12,
    #c13,
    .name {
      color: var(--blue);
    }
  }
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --primary: #dadde8;
//     --secondary: #171520;
//     --tertiary: #8489ff;
//   }
//   span {
//     text-shadow: 1px 1px 5px #7a15ff, -1px -1px 5px #0088d6;
//   }
// }
