:root {
  --primary: #0d0e2c;
  --secondary: #f1f1f1;
  --tertiary: #4f56ff;
}

* {
  box-sizing: border-box;
  font-family: 'Apfel Grotezk', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  background: var(--secondary);
  margin: 0;
  padding: 0;
}

::selection {
  color: var(--tertiary);
}

@font-face {
  font-display: swap;
  font-family: 'Apfel Grotezk';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ApfelGrotezk-Regular.woff2');
}

h1 {
  color: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

h2 {
  color: inherit;
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 88px;
}

a {
  color: inherit;
  border: 1px solid currentColor;
  border-radius: 100px;
  box-shadow: 3px 3px 0px currentColor;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 40px;
  padding: 10px 32px;
  text-decoration: none;
  transition: box-shadow 0.15s ease;
}

a:hover {
  box-shadow: 0px 0px 0px currentColor;
}

span {
  color: var(--tertiary);
}

main {
  align-items: center;
  color: var(--primary);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

section {
  margin: 0 64px;
  width: 1044px;
}

@media only screen and (max-width: 560px) {
  h2 {
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 56px;
    margin-top: 40px;
  }

  a {
    box-shadow: 2px 2px 0px currentColor;
    font-size: 24px;
    line-height: 40px;
    padding: 8px 24px;
  }

  main {
    display: block;
    height: auto;
  }

  section {
    margin: 32px 24px 0px 24px;
    width: auto;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #dadde8;
    --secondary: #171520;
    --tertiary: #8489ff;
  }
  span {
    text-shadow: 0px 2px 9px #5537ff;
  }
}
