@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark ::selection {
  background: RGBA(255, 255, 255, 0.2);
}

::selection {
  background: RGBA(0, 0, 0, 0.2);
}

.fade {
  opacity: 0;

  @media (prefers-reduced-motion) {
    opacity: 1;
    animation: none;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(40px);

  @media (prefers-reduced-motion) {
    transform: translateY(0px);
    opacity: 1;
    animation: none;
  }
}
