@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-reduced-motion) {
    animation: none !important;
    animation-play-state: paused;
  }
}

::selection {
  background: black;
  color: white;
}

button {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Tailwind preflight */

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}
