@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant supports-hover {
  @supports (@media (hover: hover) {&: hover}) {
    @slot;
  }
}
/* @custom-variant interactive (&:where(.interactive, .interactive *));
@custom-variant toggle (&:where(.toggle, .toggle *));
@custom-variant square (&:where(.square, .square *));
@custom-variant circular (&:where(.circular, .circular *)); */

:root {
  --base-100: var(--color-white);
  --base-200: var(--color-neutral-50);
  --base-1000: var(--color-neutral-950);

  --border: var(--color-neutral-200);
  --bg: var(--color-neutral-50);
  --text-strong: var(--color-neutral-950);
  --text-medium: var(--color-neutral-600);
  --text-soft: var(--color-neutral-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-neutral-925: oklch(0.175 0 0);

    --base-100: var(--color-neutral-925);
    --base-200: var(--color-neutral-900);
    --base-1000: var(--color-white);

    --border: var(--color-neutral-900);
    --bg: var(--color-black);
    --text-strong: var(--color-white);
    --text-medium: var(--color-neutral-300);
    --text-soft: var(--color-neutral-400);
  }
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-1000: var(--base-1000);

  --color-base-border: var(--border);
  --color-base-bg: var(--bg);
  --text-color-base-strong: var(--text-strong);
  --text-color-base-medium: var(--text-medium);
  --text-color-base-soft: var(--text-soft);

  --ease-bounce: cubic-bezier(0.2, -0.25, 0, 1.6);
}

/* .add-focus {
  @apply focus-visible:ring-focus outline-none focus:opacity-100 focus-visible:!z-50 focus-visible:ring *:in-focus:opacity-100;
} */

/* .add-disable {
  @apply disabled:text-base-100 disabled:cursor-not-allowed;
} */

/* .add-size-sm {
  @apply h-8 rounded-lg px-2.5 text-xs;

  @variant square {
    @apply flex size-8 items-center justify-center px-0;
  }

  @variant circular {
    @apply flex size-8 items-center justify-center rounded-full px-0;
  }
}

.add-size-md {
  @apply h-9 rounded-lg px-3 text-sm;

  @variant square {
    @apply flex size-9 items-center justify-center px-0;
  }

  @variant circular {
    @apply flex size-9 items-center justify-center rounded-full px-0;
  }
}

.add-size-base {
  @apply h-10 rounded-lg px-4;

  @variant square {
    @apply flex size-10 items-center justify-center px-0;
  }

  @variant circular {
    @apply flex size-10 items-center justify-center rounded-full px-0;
  }
} */

/* Animations */

.set-fade {
  opacity: 0;

  @media (prefers-reduced-motion) {
    animation: none;
    opacity: 1;
  }
}

.trigger-fade {
  animation: fade 0.3s forwards;

  &.fade-sm {
    animation-duration: 0.1s;
  }

  &.fade-lg {
    animation-duration: 0.5s;
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.reveal {
  animation: reveal 0.8s cubic-bezier(0.3, 0, 0, 1) forwards;
  opacity: 0;
  transform: translateY(40px);

  &.reveal-sm {
    animation-duration: 0.4s;
  }

  &.reveal-lg {
    animation-duration: 1.2s;
  }

  @media (prefers-reduced-motion) {
    animation: none;
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes reveal {
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.scaleFade {
  animation: scaleFade 0.5s var(--ease-bounce) forwards;
  opacity: 0;
  transform: scale(0.5);

  @media (prefers-reduced-motion) {
    animation: none;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleFade {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
